.header-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
  padding: 0 var(--columnPaddingNormal);
  overflow: hidden;
}

.header-logo {
  margin: 10px;
  font-weight: 700;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-list button {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--background);
  color: var(--foreground);
}

.header-nav-list button:hover {
  background-color: var(--foreground);
  color: var(--background);
}
