.header-nav-container {
  display: flex;
  justify-content: center;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
  padding: 0 var(--columnPaddingNormal);
  overflow: hidden;
}

.header-logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-list button {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
}
