.uploadButton {
  background-color: var(--green) !important; /* Green background */
}

.dialogFileButton {
  background-color: var(--green) !important; /* Green background */
}

.dialogParseButton {
  color: #000000 !important;
}

.dialogCloseButton {
  color: #000000 !important;
}

.dialogConfirmButton {
  color: #000000 !important;
}

.ocrRequirements {
  color: #808080 !important;
  font-size: 0.9rem !important;
  margin-bottom: 3% !important;
}

.listOcrRequirements {
  color: #808080 !important;
  font-size: 0.9rem !important;
  margin-left: 2.75% !important;
  margin-bottom: 2% !important;
}
