.receipt-card {
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--light-grey);
  margin: 2rem;
}

/* Search Bar */
.search-bar {
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: none;
  transition: border-color 0.3s;
  background-color: var(--background);
  color: black;
}

.search-bar::placeholder {
  color: black;
  opacity: 1;
}

.search-bar:focus {
  border-color: blue;
  outline: none;
}

/* Receipt */
.receipt-container {
  width: 60%;
  margin: 10px 0;
}

/* Receipt Header */
.receipt-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  gap: 20px;
}

.receipt-head h1 {
  margin-right: auto;
  font-weight: 700;
}

.rows-per-page label {
  font-weight: 700;
}

.rows-per-page select {
  margin-left: 0.5rem;
  padding: 0.3rem;
  font-weight: 700;
}

/* Receipt Table */
.receipt-table {
  width: 100%;
  border-collapse: collapse;
}

.receipt-table thead {
  text-align: left;
}

.receipt-table th {
  padding: 1rem;
  border-bottom: 2px dashed black;
  text-transform: uppercase;
  font-weight: 700;
}

.quantity-column,
.price-column {
  text-align: right;
}

.quantity-column {
  width: 15%;
}

.item-name-column {
  width: 40%;
}

.food-group-column {
  width: 25%;
}

.price-column {
  width: 25%;
}

.edit-icon {
  position: relative;
  margin-left: 0.5rem;
  cursor: pointer;
  vertical-align: middle;
  top: -2px;
  font-size: 1.25rem;
  visibility: hidden;
}

.editable-input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  text-align: left;
  background-color: var(--background);
  color: black;
  transition: border-color 0.3s;
}

.editable-input::placeholder {
  color: black;
  outline: none;
}

.editable-input:focus {
  border-color: blue;
  outline: none;
}

.receipt-table tr {
  height: 2.5rem;
}

.receipt-table tr:first-child td {
  padding-top: 1rem;
}

.receipt-table tr:last-child td {
  padding-bottom: 1rem;
}

.receipt-body td {
  padding: 0.5rem 1.5rem;
}

.receipt-body tr:last-child {
  border-bottom: 2px dashed black;
}

.sort-arrow {
  display: inline-block;
  margin-left: 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
}

.receipt-body tr:hover {
  background-color: var(--light-grey);
  transition: filter 0.3s ease;
}

.receipt-body tr:hover .edit-icon {
  visibility: visible;
}

.receipt-table th:hover {
  cursor: pointer;
}

/* Pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination-controls button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 700;
  color: var(--foreground);
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-controls span {
  font-weight: 700;
}
