/* Search Bar */
input {
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: none;
  transition: border-color 0.3s;
  background-color: var(--background);
  color: black;
}

input::placeholder {
  color: black;
  opacity: 1;
}

input:focus {
  border-color: blue;
  outline: none;
}

/* Receipt */
.receipt-container {
  width: 60%;
  margin: 10px 0;
}

/* Receipt Header */
.receipt-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  gap: 20px;
}

.receipt-head h1 {
  margin-right: auto;
  font-weight: 700;
}

.rows-per-page label {
  font-weight: 700;
}

.rows-per-page select {
  margin-left: 0.5rem;
  padding: 0.3rem;
  font-weight: 700;
}

/* Receipt Table */
.receipt-table {
  width: 100%;
  border-collapse: collapse;
}

.receipt-table th.quantity-column {
  width: 15%;
  text-align: right;
}

.receipt-table th.item-name-column {
  width: 40%;
}

.receipt-table th.group-column {
  width: 30%;
}

.receipt-table th.price-column {
  width: 20%;
  text-align: right;
}

.receipt-table td.quantity-column,
.receipt-table td.price-column {
  text-align: right;
}

.receipt-table tr:first-child td {
  padding-top: 1rem;
}

.receipt-table tr:last-child td {
  padding-bottom: 1rem;
}

.receipt-table thead {
  text-align: left;
  letter-spacing: 0.5px;
}

.receipt-table th {
  padding: 1rem;
  border-bottom: 2px dashed black;
}

.receipt-table td:last-child {
  letter-spacing: 0.5px;
}

.receipt-body {
  text-transform: uppercase;
}

.receipt-body td {
  padding: 0.5rem 1.5rem;
}

.receipt-body tr:last-child {
  border-bottom: 2px dashed black;
}

.receipt-body tr:hover {
  filter: brightness(0.9);
  transition: filter 0.3s ease;
}

.edit-icon-wrapper {
  position: relative;
  top: -1px;
}

.sort-arrow {
  display: inline-block;
  margin-left: 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
}

.receipt-table th:hover .sort-arrow {
  border-top: 10px solid red;
}

/* Pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination-controls button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 700;
  color: var(--foreground);
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-controls span {
  font-weight: 700;
}
