.summary-card {
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--light-grey);
  margin: 2rem;
  width: 450px;
  background-color: var(--white);
}

.chart-legend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.doughnut-chart {
  position: relative;
  width: 150px;
  height: 150px;
}

.doughnut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.food-group-legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin: 0.25rem 0;
  gap: 1rem;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.legend-label {
  flex-grow: 1;
}

.legend-percentage {
  padding-left: 3.5rem;
  margin-left: auto;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
