.summary-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  height: 100%;
  width: 500px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(72, 72, 74, 0.18);
  overflow-x: auto;
}

.summary-card-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 1.5rem;
  height: 100%;
}

.chart-legend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
}

.doughnut-chart {
  position: relative;
  flex-shrink: 0;
  width: 40%;
  height: 40%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.doughnut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.food-group-legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.legend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.legend-color {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: -1.5px;
}

.legend-label {
  margin-right: auto;
}

.legend-percentage {
  font-weight: 700;
}

.bar-chart-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.bar-chart-container h2 {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .summary-card {
    width: 100%;
  }

  .chart-legend-container {
    flex-direction: column;
    gap: 1rem;
  }

  .food-group-legend {
    width: 100%;
  }

  .doughnut-chart {
    width: 60%;
  }
}
