.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.pie-chart-container {
  position: relative;
  left: 50px;
}

.summary-table-container {
  width: 500px;
}

.summary-table-container h1 {
  text-transform: uppercase;
}

.summary-table {
  width: 100%;
  margin: 20px 0;
  text-transform: uppercase;
}

.summary-table th {
  position: relative;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px dashed black;
  text-align: left;
  letter-spacing: 0.5px;
}

.price {
  text-align: right;
}

.summary-table th::after {
  content: '';
  display: inline-block;
  margin-left: 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
}

.summary-table th:hover::after {
  border-top: 10px solid red;
}

.summary-table td {
  padding: 0.5rem 1rem;
}

.summary-table th:last-child {
  text-align: right;
}

.check-column {
  text-align: center;
}

.summary-group-column {
  display: flex;
  justify-content: space-between;
}

.group-count {
  text-transform: initial;
  font-weight: 700;
}

.total-price-column {
  text-align: right;
  letter-spacing: 0.5px;
}
