.section-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding-bottom: 100px !important;
  padding-top: 20px !important;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth)) !important;
}

.graph-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: left !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding-top: 30px !important;
}

.legend-container {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 1px !important;
  max-width: 100% !important;
  margin-bottom: 8px !important;
  justify-content: center !important;
}

.responsive-heading {
  font-size: 1.5rem !important;
  text-align: center !important;
}

@media (max-width: 700px) {
  .legend-container {
    max-width: 100% !important; /* Full width on small screens */
    justify-content: center !important;
    margin-top: 16px !important;
    gap: 0px !important;
  }

  /* Reduce checkbox size */
  .legend-container .MuiFormControlLabel-root {
    padding: 0px !important;
    flex-basis: 25% !important; /* Stacks two checkbox per row */
  }

  .legend-container .MuiCheckbox-root {
    padding: 0px !important;
    transform: scale(0.5) !important; /* Scale down checkboxes */
  }

  .responsive-heading {
    font-size: 1rem !important; /* Smaller font size for mobile */
    padding: 0px !important;
  }

  .css-rizt0-MuiTypography-root {
    font-size: 0.75rem !important; /* Smaller font size for mobile */
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.5) !important; /* Semi-transparent white background */
  backdrop-filter: blur(8px) !important; /* Blur effect */
  -webkit-backdrop-filter: blur(8px) !important; /* Safari support */
  border-radius: 10px !important; /* Rounded corners */
  border: 1px solid rgba(72, 72, 74, 0.18) !important; /* Subtle border */
}
