.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 100px;
  padding-top: 20px;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.legend-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  max-width: 100%;
  margin-bottom: 8px;
  justify-content: center;
}

.responsive-heading {
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 700px) {
  .legend-container {
    max-width: 100%; /* Full width on small screens */
    justify-content: center;
    margin-top: 16px;
    gap: 0px;
  }

  /* Reduce checkbox size */
  .legend-container .MuiFormControlLabel-root {
    padding: 0px;
    flex-basis: 25%; /* Stacks two checkbox per row */
  }

  .legend-container .MuiCheckbox-root {
    padding: 0px;
    transform: scale(0.5); /* Scale down checkboxes */
  }

  .responsive-heading {
    font-size: 1rem; /* Smaller font size for mobile */
    padding: 0px;
  }

  .css-rizt0-MuiTypography-root {
    font-size: 0.75rem !important; /* Smaller font size for mobile */
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid rgba(72, 72, 74, 0.18); /* Subtle border */
}

