.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  margin: 10px;
  font-weight: 700;
}

.title-line {
  content: '';
  width: 90%;
  max-width: 1000px;
  border-top: 2px solid black;
  margin: 10px 0 20px 0;
}

.or-separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  margin-bottom: 1rem;
  width: 80%;
  max-width: 25rem;
  box-sizing: border-box;
}

.icon {
  margin-right: 8px;
}

.email-input,
.password-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background-color: transparent;
  padding-left: 0.625rem;
}

.input-container:focus-within {
  border-color: #007bff;
}

.google-sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.google-sign-in {
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #15be53;
  height: 50px;
  width: 236.562px;
  border-radius: 6px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}
.register-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 25rem;
  margin-bottom: 10px;
}

.register-link {
  margin-left: 10px;
  color: #007bff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.forgot-password-link {
  color: #7c768e;
  text-decoration: none;
  margin-left: 250px;
  margin-bottom: 50px;
}
.forgot-password-link:hover {
  text-decoration: underline;
}
.error-message {
  color: #ff0000;
  margin-bottom: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content input {
  border: none;
  outline: none;
  padding-left: 10px;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  background-color: #15be53;
  color: #ffffff;
  border-radius: 6px;
}

.success-message {
  color: #15be53;
  margin-bottom: 5px;
}
