:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --white: #ffffff;
  --red: #ff3c3c;
  --yellow: #fdd34e;
  --green: #15be53;
  --blue: #5bd2ff;
  --purple: #bb61d3;
  --grey: #8e8e93;
  --grey2: #636366;
  --grey3: #48484a;
  --light-grey: #cccccc;
  --gutterWidth: 16px;
  --windowWidth: 100vw;
  --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth) * 2);
  --layoutWidthMax: 1080px;
  --columnPaddingNormal: 16px;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--light-grey);
  background-image: radial-gradient(
      circle at 0% 50%,
      hsla(112.49999999999999, 37%, 91%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 40% 20%,
      hsla(27.999999999999577, 0%, 86%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 0%,
      hsla(189.00000000000065, 0%, 100%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 50%,
      hsla(89.69696969696984, 100%, 92%, 1) 0%,
      transparent 50%
    );
  background-blend-mode: normal, normal, normal, normal;
  color: var(--foreground);
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
