:root {
  --background: #D9D3D0;
  --foreground: #171717;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --font-silkscreen: 'Silkscreen', 'Roboto Mono', monospace;
  --gutterWidth: 16px;
  --windowWidth: 100vw;
  --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth) * 2);
  --layoutWidthMax: 1080px;
  --columnPaddingNormal: 16px;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    style: normal;
}
@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
    font-weight: 400;
    style: normal;
}
@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen/Silkscreen-Bold.ttf') format('truetype');
    font-weight: 700;
    style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
