.summary-card {
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--light-grey);
  /* margin: 2rem; */
  width: 450px;
}

.chart-legend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.doughnut-chart {
  position: relative;
  width: 150px;
  height: 150px;
}

.doughnut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.food-group-legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin: 0.25rem 0;
  gap: 1rem;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.legend-label {
  flex-grow: 1;
}

.legend-percentage {
  padding-left: 3.5rem;
  margin-left: auto;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}


body {
  background-color: var(--background);
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; /* Full viewport height */
  /* background-color: #f5f7f9; */
  margin-top: 20px;
}

.h1 {
  font-weight: bold;
  text-align: start;
  margin: 0;
  margin-left: 2vw;
  font-size: 2vw;
}

.container {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  /* background-color: #f5f7f9; */
  min-height: 100vh;
}

.leftSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.rightSection {
  
  width: 51%;
  display: flex;
  flex-direction: column;
  align-items: left;
  
  /* background-color: #f5f7f9; */
  /* padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.slogan {
  font-size: 4.5vw; /* Increase size for better visibility */
  font-weight: bold;
  /* color: #000000; Add a darker color for emphasis */
  margin-top: 2vh;
  margin-bottom: 5vh;
  margin-left: 1vw;
  text-align: center;
}

.featuresList {
  font-size: 1.6rem;
  color: #444;
  list-style: none; /* Remove default bullet points */
  padding-left: 2.8vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.featuresList li {
  position: relative;
  padding-left: 30px;
  line-height: 1.5;
}

.featuresList li::before {
  content: '\2022'; /* Unicode character for bullet */
  color: #000000; /* Green color for bullets */
  font-size: 20px;
  position: absolute;
  left: 0; /* Align the bullet to the left */
  top: 50%;
  transform: translateY(-50%); /* Center the bullet vertically */
}

p {
  color: #666;
}

.scanButton:hover {
  background-color: #219150;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scanButton {
  background-color: #28a745;
  font-size: large;
  color: white;
  margin: 20px 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton {
  background-color: #555; /* Softer color */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 2vw;
  font-size: 1vw;
}

.loginButton:hover {
  background-color: #555; /* Softer color */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.receipt-card {
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--light-grey);
  /* margin: 2rem; */
}

/* Search Bar */
.search-bar {
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: none;
  transition: border-color 0.3s;
  background-color: var(--background);
  color: black;
}

.search-bar::placeholder {
  color: black;
  opacity: 1;
}

.search-bar:focus {
  border-color: blue;
  outline: none;
}

/* Receipt */
.receipt-container {
  width: 90%;
  margin: 10px 0;
}

/* Receipt Header */
.receipt-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  gap: 20px;
}

.receipt-head h1 {
  margin-right: auto;
  font-weight: 700;
}

.rows-per-page label {
  font-weight: 700;
}

.rows-per-page select {
  margin-left: 0.5rem;
  padding: 0.3rem;
  font-weight: 700;
}

/* Receipt Table */
.receipt-table {
  width: 100%;
  border-collapse: collapse;
}

.receipt-table thead {
  text-align: left;
}

.receipt-table th {
  padding: 1rem;
  border-bottom: 2px dashed black;
  text-transform: uppercase;
  font-weight: 700;
}

.quantity-column,
.price-column {
  text-align: center;
}

.quantity-column {
  width: 20%;
}

.item-name-column {
  width: 30%;
}

.food-group-column {
  width: 25%;
}

.price-column {
  width: 25%;
}

.edit-icon {
  position: relative;
  margin-left: 0.5rem;
  cursor: pointer;
  vertical-align: middle;
  top: -2px;
  font-size: 1.25rem;
  visibility: hidden;
}

.editable-input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  text-align: left;
  background-color: var(--background);
  color: black;
  transition: border-color 0.3s;
}

.editable-input::placeholder {
  color: black;
  outline: none;
}

.editable-input:focus {
  border-color: blue;
  outline: none;
}

.receipt-table tr {
  height: 2.5rem;
}

.receipt-table tr:first-child td {
  padding-top: 1rem;
}

.receipt-table tr:last-child td {
  padding-bottom: 1rem;
}

.receipt-body td {
  padding: 0.5rem 1.5rem;
}

.receipt-body tr:last-child {
  border-bottom: 2px dashed black;
}

.sort-arrow {
  display: inline-block;
  margin-left: 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
}

.receipt-body tr:hover {
  background-color: var(--light-grey);
  transition: filter 0.3s ease;
}

.receipt-body tr:hover .edit-icon {
  visibility: visible;
}

.receipt-table th:hover {
  cursor: pointer;
}

/* Pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination-controls button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 700;
  color: var(--foreground);
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-controls span {
  font-weight: 700;
}
