.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 100px;
  padding-top: 20px;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
}

.split-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.year-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  max-width: 67%;
}

.month-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 43%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.analytics-card-row {
  display: flex;
  gap: 1rem;
}

.analytics-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 20px;
}

.analytics-stats-card-container {
  display: flex;
  gap: 1rem;
}

.analytics-stats-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 200px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(72, 72, 74, 0.18);
}

.analytics-stats-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.analytics-stats-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.analytics-stats-content h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-right: auto;
}

.analytics-stats-content p {
  font-weight: 700;
  color: var(--grey2);
}

.analytics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
    max-width: 100%;
  }

  .month-container {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .year-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
