.dashboard-section-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
  position: relative;
  top: 1rem;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  height: 90%;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60vw;
}

@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .left-section {
    width: 90%;
  }
  .right-section {
    width: 90%;
  }
}
