.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-line {
  content: '';
  width: 90%;
  max-width: 1000px;
  border-top: 2px solid black;
  margin: 10px 0 20px 0;
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 3.125rem;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  margin-bottom: 1rem;
  width: 80%;
  max-width: 25rem;
  box-sizing: border-box;
}

.icon {
  margin-right: 8px;
}

.email-input,
.display-name-input,
.password-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background-color: transparent;
  padding-left: 0.625rem;
}

.input-container:focus-within {
  border-color: #007bff;
}

.error-message {
  color: #ff0000;
  margin-bottom: 5px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #4e8f03;
  height: 50px;
  width: 236.562px;
  border-radius: 6px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 25rem;
  margin-bottom: 10px;
}

.login-link {
  margin-left: 10px;
  color: #007bff;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
